{{#each days}}
	<div id="tabs-{{day_number}}" class="day_body clearfix">
		<h2 class="current_day">{{day_of_week day_number}}</h2>
		<div class="row">
			<div class="categories-{{day_number}}">
			</div>
		</div>
  </div>
{{/each}}
