<header id="user_panel"></header>

<div class="container">
  <div id="sprintContainer" class="alert alert-info">
  </div>

  <form id="order_form" class="form-horizontal dailyRations" role="form" action="http://127.0.0.1:3000/api/v1" method="POST">
    <div id="dailyRations"></div>
    <input type="submit" class="btn btn-primary">
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
