<header id="user_panel"></header>

<div class="container">
	<form id="order_form" role="form">
	  <div id="sprintContainer">
	  </div>
  
    <div id="dailyRations"></div>
    <button class="btn btn-primary">Send order!</button>
  </form>
</div>
