<header id="user_panel"></header>
<div class="container">
  <form id="order_form" role="form">
    <div id="sprintContainer">
    </div>
    <div class="container">
      <div id="tabs">
        <ul class="nav nav-tabs">
        {{#each days}}
          <li><a href="#tabs-{{day_number}}" data-day-in-tab="{{day_number}}">{{day_of_week day_number}}</a></li>
        {{/each}}
        </ul>
        <div class="col-sm-8" id="daysCollection"></div>
      </div>
      <div class="col-sm-4" id="pre-order"></div>
    </div>
  </form>
</div>
