	<div class="sprint_body well clearfix">
		<div>Sprint {{sprint.id}}</div>
		<div>Catering order for {{dateFormat sprint.started_at format="DD.MM.YYYY"}} - {{dateFormat sprint.finished_at format="DD.MM.YYYY"}}</div>
		<input type="hidden" name="sprint_id" value="{{sprint.id}}">
  </div>
