.business_lunch{
	padding: 2px 5px;
	display: inline-block;
	background: #780000;
	border: 2px solid #c9c;
	font-weight: bold;
	color: #cc6;
	border-radius: 4px;
	cursor: pointer;
	&:hover{
		border: 2px solid #cc6;
		color: #c9c;
	}
}

.children{
	border: 2px solid silver;
	border-radius: 3px;
	display: none;
	padding: 5px;
}


